<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
      <h1>404 Error</h1> : <%if(message){%>
        <h1><%= message %></h1>
    <% }else {%>
      <h1>Inavlid Error</h1>
    <%}%>
  </div>
</body>
</html>